{
  "presets": [ // presets is a collection of code transformed plugins
    ["@babel/env", {
      "useBuiltIns": "usage",
      "corejs": "3",
      "targets": {
        "browsers": [
          "last 5 versions",
          "ie >= 8"
        ]
      }
    }]
  ]
}